<!-- <center><h2><font color="#516C8D">お気に入り 一覧</font></h2></center><br>

<div class="container row">
  <% @favorites_posts.each do |favorite| %>
    <div class="posts-index-item col-md-6">
      <%= link_to (favorite.content, "/users/#{user.id}" %>
    </div>
  <% end %>
</div>


  <br>
  <center><%= link_to '盛大にBOYAKU！', new_post_path, class:"square_btn" %></center>
</div> -->


<!-- , "/posts/#{post.id}" -->
