<center><h2><font color="#516C8D">お気に入りの「ぼやき」</font></h2></center>

<div class="main-posts-show">
  <div class="container">
    <div class="posts-show-item">
      <% if @favorites_posts.present? %>
        <% @favorites_posts.each do |favorite| %>
            <p><%= favorite.content %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
