<br><br>

<div class="container">
  <div class="home-main">
    <div class="home-message">
      <h2>好き勝手にぼやこう！</h2><br>
      <div class="row">
      <p>楽しい時、悲しい時、感動した時</p>
      </div>
    <br>
      <div class="row">
        <p class="col-xs-12">その気持ちをBOYAKOU！</p>
      </div>
    </div>
  </div>

  <br><br>
  <div class="row">
    <center><%= link_to '盛大にBOYAKU！', new_post_path, class:"square_btn" %></center>
  </div>

    <br>
  <div>
    <center><%= link_to 'BOYAKIをのぞいてみる', posts_path, class:"square_btn" %></center>
  </div>
</div>

<!-- class: "btn btn-default" -->
