<center><h2><font color="#516C8D">BOYAKI 一覧</font></h2></center><br>

<div class="container row">
  <% @posts.each do |post| %>
    <div class="posts-index-item col-md-6">
      <%= link_to(post.content, "/posts/#{post.id}")%>
    </div>
  <% end %>
</div>


  <br>
  <center><%= link_to '盛大にBOYAKU！', new_post_path, class: "btn btn-default" %></center>
</div>

<!-- class:"square_btn" -->
